*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    @import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
}

body {

    text-align: center;
    font-family: "Lato", sans-serif;

}

.head {

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;

}

.logo {
    margin-left: 30px;
}

.logo a {

    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;

}

.navbar {

    display: flex;
    margin-right: 10px;

}

.navbar a {

    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;

}

.navbar a:hover {

    background: #3f3f3f;

}

.header {

    display: flex;
    justify-content: center;
    align-items: center;

}

.header {

    height: 60vh !important;
    background: url(img/header.jpg) no-repeat center;
    background-size: cover;

}

.title {

    margin-top: 100px;
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;

}

p {

    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;

}

.btn {

    display: inline-block;
    padding: 10% 50px;
    border: 2px solid #9c27b0;
    color: #fff;
    text-decoration: none;
    background: #4f4351;

}

.btn:hover {

    background: none;

}

.btn-home {

    display: flex;

}

.btn-home a {

    margin: 0 10px;

}

.btn-price {

    display: center;

}

.btn-price a {

    padding: 2% 50px;
    margin: 0 10px;

}

.content {

    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sau {

    padding: 70px;
    background: #1f1d1d;

}

.box-container {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.box-container .box {

    height: 10rem;
    width: 17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0, 0, 5);
    margin: 2rem;

}

.box-container .box i {

    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #9c27b0;
    font-size: 2rem;
    margin: 1rem 0;

}

.box-container .box h3 {

    font-size: 20px;
    color: #9c27b0;

}

.box-container .box p {

    padding: 0 15px;
    font-size: 16px;

}

.about {

    background: #171717;

}

.price {

    background: url(img/precios.jfif) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;

}

.contact {

    padding-top: 15px;
    background: #171717;
    padding-top: 0;

}

@media (max-width: 768px) {

    .title {

        margin-bottom: 0;
        font-size: 40px;

    }

    .sau {

        height: 120vh;

    }
    
}